@model Email.Templates.Models.HelloWorld
<html>
<body>
    <table>
        <tr>
            <td width="580" height="64" style="font-size: 1px; background-color: #f2f2f2">&nbsp;</td>
        </tr>
        <tr>
            <td class="fullcol" width="580" align="center" style="padding: 0 4% 0 4%; background-color: #f2f2f2; font-family: tahoma,sans-serif;">
                Hello @Model.Name at @Model.Date
            </td>
        </tr>
    </table>
</body>
</html>